In [1]:
import numpy as np
import pandas as pd
from pandas import read_csv
import math

#print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

In [2]:
df1 = pd.read_csv('labels500K.csv')
df2 = pd.read_csv('recon500K.csv')

In [3]:
df3 = pd.concat([df1,df2], axis=1, join="inner")

In [4]:
df3.head

<bound method NDFrame.head of            x-entry    y-entry  z-entry        n_x       n_y       n_z  \
0      -127.577095  14.962343    100.0   4.277158 -0.334490 -1.459910
1        51.459904 -11.965615      0.0  -2.098277  0.138679  1.374243
2        19.398594  16.789040    100.0  -3.447970 -0.101769 -3.457585
3       303.699158   8.974784    100.0  -8.850552  0.295488 -1.579711
4      -324.085876 -14.225886      0.0  26.522373  0.553523  3.711333
...            ...        ...      ...        ...       ...       ...
499946  -73.839684 -13.050838      0.0   0.501530 -0.290909  4.558909
499947   18.106939   0.605351    100.0  -0.118000  0.027155 -0.332215
499948  -24.790482  -0.906742      0.0  -1.432166 -0.045177  3.843441
499949   45.365601   2.014982    100.0   0.834307  0.003232 -2.889855
499950   47.305225  -3.598103      0.0  -0.197591 -0.036490  0.189487

        number_eh_pairs   y-local        pt  cotAlpha  ...  263  264  265  \
0                 37280 -7.523250  1.506670 -2.929741  ...  0.0  0.0  0.0
1                 10807  3.528540 -1.386040 -1.526860  ...  0.0  0.0  0.0
2                  8421 -0.420641  3.458700  0.997219  ...  0.0  0.0  0.0
3                 49391  4.981350 -1.596940  5.602640  ...  0.0  0.0  0.0
4                 51642  4.363210  3.765430  7.146320  ...  0.0  0.0  0.0
...                 ...       ...       ...       ...  ...  ...  ...  ...
499946             5958 -2.277620  4.568090  0.110011  ...  0.0  0.0  0.0
499947            23994  0.753217 -0.332615  0.355192  ...  0.0  0.0  0.0
499948             8301 -0.915988 -3.844650 -0.372626  ...  0.0  0.0  0.0
499949            13666 -0.516197 -2.890500 -0.288702  ...  0.0  0.0  0.0
499950            10046 -6.613930  0.191310 -1.042768  ...  0.0  0.0  0.0

        266  267  268  269  270  271  272
0       0.0  0.0  0.0  0.0  0.0  0.0  0.0
1       0.0  0.0  0.0  0.0  0.0  0.0  0.0
2       0.0  0.0  0.0  0.0  0.0  0.0  0.0
3       0.0  0.0  0.0  0.0  0.0  0.0  0.0
4       0.0  0.0  0.0  0.0  0.0  0.0  0.0
...     ...  ...  ...  ...  ...  ...  ...
499946  0.0  0.0  0.0  0.0  0.0  0.0  0.0
499947  0.0  0.0  0.0  0.0  0.0  0.0  0.0
499948  0.0  0.0  0.0  0.0  0.0  0.0  0.0
499949  0.0  0.0  0.0  0.0  0.0  0.0  0.0
499950  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[499951 rows x 284 columns]>

In [5]:
df3.drop('n_x', axis=1, inplace=True)
df3.drop('n_y', axis=1, inplace=True)
df3.drop('n_z', axis=1, inplace=True)
df3.drop('cotAlpha',axis = 1, inplace=True)
df3.drop('cotBeta',axis = 1, inplace=True)
df3.drop('number_eh_pairs', axis=1, inplace=True)
df3.drop('x-entry', axis=1, inplace=True)
df3.drop('y-entry', axis=1, inplace=True)

In [6]:
df3.head()

,z-entry,y-local,pt,0,1,2,3,4,5,6,...,263,264,265,266,267,268,269,270,271,272
0,100.0,-7.523250,1.50667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,3.528540,-1.38604,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100.0,-0.420641,3.45870,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100.0,4.981350,-1.59694,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,4.363210,3.76543,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df4 = df3[df3['z-entry'] == 0]

In [8]:
df4

,z-entry,y-local,pt,0,1,2,3,4,5,6,...,263,264,265,266,267,268,269,270,271,272
1,0.0,3.528540,-1.386040,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,4.363210,3.765430,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,-1.115080,3.008380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,4.790280,-2.641340,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,4.923490,-4.603230,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499944,0.0,1.715870,4.429930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499945,0.0,-4.971790,-0.536868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499946,0.0,-2.277620,4.568090,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499948,0.0,-0.915988,-3.844650,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499950,0.0,-6.613930,0.191310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df5 = df4[df4['pt'] > 0]

In [10]:
df5 = df5.reset_index(drop=True)

In [11]:
df5.to_csv('cut.csv')

In [12]:
cutLabels = df5.loc[:,['z-entry','y-local','pt']]

In [13]:
cutLabels

        z-entry   y-local        pt
0           0.0  4.363210  3.765430
1           0.0 -1.115080  3.008380
2           0.0  3.649340  0.509402
3           0.0  4.680100  0.847440
4           0.0 -6.916440  0.717999
...         ...       ...       ...
126676      0.0 -3.814600  2.511420
126677      0.0  0.461166  4.788860
126678      0.0  1.715870  4.429930
126679      0.0 -2.277620  4.568090
126680      0.0 -6.613930  0.191310

[126681 rows x 3 columns]

In [14]:
cutLabels.to_csv('cutLabels.csv', index=False)

In [15]:
df5

,z-entry,y-local,pt,0,1,2,3,4,5,6,...,263,264,265,266,267,268,269,270,271,272
0,0.0,4.363210,3.765430,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,-1.115080,3.008380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,3.649340,0.509402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,4.680100,0.847440,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,-6.916440,0.717999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126676,0.0,-3.814600,2.511420,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126677,0.0,0.461166,4.788860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126678,0.0,1.715870,4.429930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126679,0.0,-2.277620,4.568090,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126680,0.0,-6.613930,0.191310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df5 = df5.drop(['z-entry', 'y-local', 'pt'], axis=1)
df5 = df5.reset_index(drop=True)

In [17]:
df5.to_csv('cutRecon.csv', index=False)

In [18]:
df5

,0,1,2,3,4,5,6,7,8,9,...,263,264,265,266,267,268,269,270,271,272
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126677,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126679,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126680,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0