In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('labels650k.csv')

In [11]:
df.head()

,x-entry,y-entry,z-entry,n_x,n_y,n_z,number_eh_pairs,cotAlpha,cotBeta
0,-168.364151,-2.262124,0.0,0.964984,0.025727,0.261045,25841,3.696619,0.098554
1,-127.467667,15.197241,0.0,0.916642,-0.080666,0.391486,15311,2.341443,-0.206051
2,-369.492645,-0.128008,0.0,0.991058,-0.002360,0.133412,87317,7.428552,-0.017690
3,-365.951111,-4.567823,0.0,0.991881,0.005613,0.127042,84117,7.807505,0.044182
4,-200.628601,14.304100,0.0,0.967751,-0.047386,0.247411,32069,3.911512,-0.191527

In [12]:
df_new = df.drop('n_x', axis=1, inplace=True)
df_new = df.drop('n_y', axis=1, inplace=True)
df_new = df.drop('n_z', axis=1, inplace=True)
df_new = df.drop('z-entry', axis=1, inplace=True)
df_new = df.drop('x-entry', axis=1, inplace=True)
df_new = df.drop('y-entry', axis=1, inplace=True)
df_new = df.drop('number_eh_pairs', axis=1, inplace=True)

In [13]:
df.head()

   cotAlpha   cotBeta
0  3.696619  0.098554
1  2.341443 -0.206051
2  7.428552 -0.017690
3  7.807505  0.044182
4  3.911512 -0.191527

In [14]:
df.to_csv('angles.csv')